<% if signed_in? %>

 <h1>Duuniforum</h1>

  <p>
    Tämä on 
    <a href="http://duuniforum/">Duuniforumin</a> 
    etusivu.
  </p>

  <%= link_to "Tee työpaikkailmoitus!", post_job_path, :class => "signup_button round" %>


<% else %>
  <h1>Duuniforum</h1>

  <p>
    Tämä on
    <a href="http://duuniforum/">Duuniforumin</a>
    etusivu.
  </p>

  <%= link_to "Kirjaudu sisään tehdäksesi työpaikkailmoitus!", signin_path, :class => "signup_button round" %>
<% end %>



