<% if signed_in? %>

 <h1>Duuniforum</h1>

  <p>
    This is the home page of
    <a href="http://duuniforum/">Duuniforum</a>
    
  </p>

  <%= link_to "Make a Job Post!", post_job_path, :class => "signup_button round" %>


<% else %>
  <h1>Duuniforum</h1>

  <p>
    This is the home page of
    <a href="http://duuniforum/">Duuniforum</a>
    
  </p>

  <%= link_to "Signin to make a Job Post!", signin_path, :class => "signup_button round" %>
<% end %>



