<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Tietoa yrityksest채", about_path %></li>
      <li><%= link_to "K채ytt채j채ehdot", terms_of_use_path %></li>
      <li><a href="http://mol.fi/">Uutisia</a></li>
         </ul>
  </nav>
</footer>


